env/
reflect.sln
reflect.pyperf
reflect.pyproj
reflect.pyproj.user
.vscode/
.vs
data/
*.gz

# https://stackoverflow.com/questions/65738611/why-does-git-ignore-not-work-for-pycache-folder
**/__pycache__